   
  @media (min-aspect-ratio: 5/4) {
    .container {
        flex-direction: row !important;
    
    }
    #melt {
        width: 50%;
    }

    #img1 {
        display: unset !important;
    }

    #img2 {
    
        margin-right: 10px;
        width: 50%;
        /* padding: 30px; */
        /* background-color: brown; */
        /* flex: 1 1 0px; */
        /* margin-right: 20px; */
        /* padding: 30px; */
      }

      #main_section {
        top: 1vw;
        left: 19vw;
      }
   
      #text1{

        letter-spacing: 0.1em;
    
    
        
        /* font-size: 14px; */
        font-size: 0.4rem;
        margin-bottom: 30px;
        color: #f2f2f2;
        width: fit-content;
        block-size: fit-content;
        font-family: 'Dosis', sans-serif;
        font-family: 'Kanit', sans-serif;
        /* font-family: 'Anton', sans-serifs; */


    

}



#twitter {

    bottom: 3rem;
    }
  
  #discord {
    bottom: 5rem;
  }
  
  #docs {
     bottom: 1rem;
  }
  
#charts {

    bottom: 7rem;
  }
  
#max {
  min-width: 120px;
}

#form2{
    z-index: 300;
}
  }
