@font-face {
  font-family: "WhiteRabbit";

  src: url("whitrabt.woff") format("woff"),
    /* Modern Browsers */ url("whitrabt.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Choco";

  src: url("ChokoMilky.woff") format("woff");
    /* Modern Browsers url("whitrabt.woff2") format("woff2"); Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Dillova";

  src: url("Bailamore FPU.ttf") format("opentype");
    /* Modern Browsers url("whitrabt.woff2") format("woff2"); Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Niconne-Regular";

  src: url("Niconne-Regular.ttf") format("opentype");
    /* Modern Browsers url("whitrabt.woff2") format("woff2"); Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

:root {
  --nav-link-color: rbg(42, 42, 42);
  --big-font-size: calc(0.8em + 1vw + 1vh);
  --big-font-size: calc(0.8em + 1vw + 1vh);

  font-size: var(--big-font-size);
  font-family: "WhiteRabbit";
  letter-spacing: 0.08em;

  --dark-green-color: #051d1e;
  --light-yellow-cream: #ffefac;
  --light-brown: #7c3b0c;
  --white-color: #eee5d1;
  --header-bg-color: var(--light-yellow-cream);
  --header-size: 2.5rem;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
}
html,
body {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}

body {
  overflow-y: auto;
  background-color: var(--light-yellow-cream);
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#maxAmountMsg {
  /* margin: auto; */  
  text-align: center;
  user-select: none;
  pointer-events: none;
  margin-top: 0.5rem;
  color: var(--light-brown);
  transition: all 2000ms cubic-bezier(.23, 1, 0.32, 1);
  /* animation: fadeIn 1s; */
}



#connect_wallet {
  z-index: 100;
  position: fixed;
   top: 1rem;
   right: 1rem;
}
#chain_button {
  z-index: 100;
  position: fixed;
   top: 1rem;
   right: 5rem;
   margin-right: 1.1rem;
   /* width: 0.5rem !important; */
   min-width: 0.5rem;
}


#pre {
  display: flex;
  flex-direction: row;
  color: #222222;
  /* color: var(--light-brown); */
  transition: all 2000ms cubic-bezier(.23, 1, 0.32, 1);
}

.smoothTransition{
  transition: all 2000ms cubic-bezier(.23, 1, 0.32, 1);
}

.visible {
  opacity: 100; 
}
.hidden {
  opacity: 0;
  /* visibility: hidden; */
}


#Bannertext {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

#mid {
  z-index: 100;
  position: sticky;
  border-top: 8px solid var(--light-brown);
  /* height: 8px; */
  color: var(--light-brown);
  top: 3.4rem;  
}






#banner {
  position: relative;
  color: var(--light-brown);
  /* top: 1rem;
  left: 1rem; */
  padding-top: 0;
  z-index: 10;
  font-size: calc(2rem + var(--big-font-size));
  font-family: "Choco";
  /* font-style: bold; */
  /* font-weight: bold; */
  /* letter-spacing: 1px; */
  /* font-family: "Dillova"; */
  /* -webkit-text-stroke-width: 1px; */
  -webkit-text-stroke-color: var(--light-brown);
}




#ChocoShow{
  z-index: 100;
  position: fixed;
  bottom: 1.1rem;
  right: 1.1rem;
  color: #7c3b0c;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #7c3b0c;
  user-select: none;
  transition: all 2000ms cubic-bezier(.23, 1, 0.32, 1);
  opacity: 100;
}

#twitter {
  z-index: 100;
  position: fixed;
  bottom: 3rem;
   left: 1rem;
}

#discord {
  z-index: 100;
  position: fixed;
  bottom: 5rem;
   left: 1rem;
}

#docs {
  z-index: 100;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

#charts {
  z-index: 100;
  position: fixed;
  bottom: 7rem;
  left: 1rem;
}

#eth {
  position: relative;
  z-index: 100;
  /* rx: 60; */
  margin-right:10;
}
#contribute {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#max {
  /* align-self: center; */
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

#amount {
  font-size: em;
  /* border-right-style: hidden; */
  color: #222222;
  font-family: "WhiteRabbit";
  letter-spacing: 0.08em;

}

#totalraise::before {
  content: 10;
}

#stats {

  position: fixed;
  right: 11rem;
  top: 1rem ;
}

#totalraised, #chocpereth, #pending {
  user-select: none;
}

#pending {
  position: fixed;
  bottom: 1rem;
  text-align: center;
  left: 45%;
}


#form2 {
  /* background-color: #333; */
  z-index: 10;
  position: fixed;
  width: 20vw;
width: 500px;
/* height: 200px; */
/* top: 75%; */
bottom: 1.7rem;
left: 50%;
justify-content: center;
margin-top: -100px; /* Negative half of height. */
margin-left: -250px; 
}

.input-addon {
  /* border: 1px solid #d1d5db; */
  border-radius: 0.25rem;
  display: flex;
  flex: 1;
}

.input-addon__input {
  border: none;
  font-size: 0.9rem;
  padding-left: 20px;
  /* Take the remaining width */
  min-width: 0;
  flex: 1;
}

.input-addon__addon {
  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;
}



#main_section {
  /* background-color: aqua; */
  position: fixed;
  display: block;
  z-index: 1;
  /* height: 10vh; */
  top: 1vw;
  left: 19vw;
  justify-content: auto;
  background-color: var(--header-bg-color);
}

#choco_fragment {
  display: content;
  position: fixed;
  /* bottom: 60vh; */
}

#container2{
  /* height: auto; */
  /* margin: 5%; */
}

/* .flex-container {
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: stretch;
}

.flex-child {
  flex: 1;
  border: 2px solid red;
  margin: 1rem;

}  

*/

#dual {
  position: fixed;
  width: 60%;
  height: 50%;
  left: 20%;
  top: 4rem;;
  display: flex;
  background-color: transparent;
  justify-content: space-between;
}
  .container {
    /* background-color: brown;
    height: 200px;
    width: 500px; */
    display: flex;
    padding: auto;
    flex-direction: row;
    align-items: stretch;
    justify-items: center;
  }

  #img1{
    background-color: var(--light-brown);
    flex: 1;

    width: 50%;
    padding: 35px;
    /* text-align: center; */
    display: block;
		margin-right: auto;
		margin-right: 10px;
    
		align-content: center;
    line-height: 0.4em;
    border-radius: 28px;
    flex: 1 1 0px;
    padding-bottom: 33px;
    /* border-style: solid; */

  }
  

  #img2 {
    
    margin-right: 10px;
    width: 50%;
    /* padding: 30px; */
    /* background-color: brown; */
    /* flex: 1 1 0px; */
    /* margin-right: 20px; */
    /* padding: 30px; */
    

  }
  #melt {
    margin-right: 10px;
    width: 50%;
    max-height: 100%;
    /* max-width: 100%; */
    /* background-size: 100%; */
    text-align: center;
    display: block;
		margin-left: auto;
		margin-right: auto;
		align-content: center;
    border-radius: 28px;
    /* border-color: red; */
    border-style: solid;
    border-color: #222222;
    
    /* object-fit: cover; */
    /* object-fit: fill; */
    
  }


  #text1{

    letter-spacing: 0.1em;


    
    /* font-size: 14px; */
    font-size: 0.4rem;
    margin-bottom: 30px;
    color: #f2f2f2;
    width: fit-content;
    block-size: fit-content;
    font-family: 'Dosis', sans-serif;
    font-family: 'Kanit', sans-serif;
    /* font-family: 'Anton', sans-serifs; */



    
  }




/* 

  input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
  }
   
  input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
  } */
















@media screen and (min-width: 800px) {
  * {
    scrollbar-width: rem;
    scrollbar-width: thin;
    scrollbar-color: #333 black;
  }
  *::-webkit-scrollbar {
    width: 12px;
    width: rem;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
    background: black;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: rem;
    border: 3px solid black;
  }

}












@media screen and (max-width: 800px) {
  #choco_fragment {
    position: fixed;
    /* bottom: 1rem; */
  }

  #twitter {

    bottom: 4rem;
    }
  
  #discord {
    bottom: 7rem;
  }
  
  #docs {
     bottom: 1rem;
  }

  
  #form2 {
    z-index: 10;
    position: fixed;
    /* width: 20vw; */
  width: calc(100vw - 2rem)  !important;
  left: 0 !important;
  margin-left: 1rem !important; 
  }
  
  
}




.button-28 {
  /* appearance: none; */
  background-color: #7c3b0c;

  color: #fff;

  border: 2px solid #7c3b0c;
  border-radius: 15px;
  /* box-sizing: border-box; */
  /* color: #3B3B3B; */
  cursor: pointer;
  /* display: inline-block; */
  font-family: "WhiteRabbit";
  /* font-size: 16px; */
  font-weight: 100;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 120px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  /* text-decoration: none; */
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  /* background-color: #7c3b0c; */
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  transform: scale(1.1);
}

.button-28:active {
  box-shadow: none;
    background-color: #7c3b0c;
    border: 2px solid #7c3b0c;
  transform: translateY(0) scale(0.8);
  
}






























html,
body {
  height: 100%;
}

xbody {
  margin: 0;
  display: grid;
  place-items: center;
  font-family: Poppins;
  background: #484450;
}

xbutton {
  font-family: inherit;
  cursor: pointer;
  background: #1a1a1a;
  color: #f9f9f9;
  border: 0;
  border-radius: 8px;
  padding: 20px 36px;
  font-size: 16px;
}

.background {
  position: fixed;
  z-index: 220;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.25);
}

xbody.open .background {
  visibility: visible;
  opacity: 1;
}

@keyframes modal-in {
  0% {
    translate: -50% 10%;
    scale: 0.5;
  }
  100% {
    opacity: 1;
    scale: 1;
    visibility: visible;
  }
}

.page-content,
.modal,
.background {
  transition: 0.5s;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  background: #1a1a1a;
  color: #f9f9f9;
  padding: 48px 40px;
  width: 300px;
  border-radius: 12px;
  translate: -50% -50%;
  scale: 1;
  opacity: 0;
  visibility: hidden;
}

body.open > .page-content {
  scale: 0.75;
}

body.open .modal {
  opacity: 1;
  visibility: visible;
  animation: modal-in 0.5s;
}

xh2 {
  margin: 0 0 8px;
  font-weight: 400;
  font-size: 21px;
}

xp {
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
}



















