@font-face {
    font-family: "WhiteRabbit";
  
    src: url("whitrabt.woff") format("woff"),
      /* Modern Browsers */ url("whitrabt.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Choco";
  
    src: url("ChokoMilky.woff") format("woff");
      /* Modern Browsers url("whitrabt.woff2") format("woff2"); Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

@media screen and (max-width: 749px) {
    :root {
        --scale-pad: 0;
        --root-px: 16px;
        --melth-max-width: 350px;
        line-height: 1.21em;
        letter-spacing: 0.04em;
    }
}
@media screen and (min-width: 750px) and (max-width: 1930px) {
    :root {
        --scale-pad: 0;
        --root-px: 20px;
        --melth-max-width: 700px;
        line-height: 1.21em;
        letter-spacing: 0.04em;
    }
}
@media screen and (min-width: 1931px) {
    :root {
        --scale-pad: 2em;
        --root-px: 28px;
        --melth-max-width: 1000px;
        line-height: 1.3em;
        letter-spacing: 0.07em;
    }
}



  
:root {
    --nav-link-color: rbg(42, 42, 42);
    --big-font-size: calc(1em + 0.8vw + 0.8vh);
    --medium-font-size: calc(1em + 0.5vw + 0.3vh);
    --small-font-size: calc(1em + 0.5vw + 0.4vh);
  

    font-size: var(--root-px);
    font-family: "WhiteRabbit";
    letter-spacing: 0.04em;
    /* line-height: 1.21em; */
    /* letter-spacing: 0.04em; */
  

    --yellow-light-cream: #fdfff5;
    --yellow-medium-cream: #ffefac;
    --yellow-heavy-cream: #b37646;

    /* --brown-light-lightest: #7c3b0c; */
    --brown-light-medium: #7c3b0c;
    --brown-light-medha: #622b10;
    --brown-dark-hard: #52210e;
    --brown-dark-hardest: #3d251b;

    /* --header-height: 3.7rem; */
    --header-height: calc(4rem + var(--big-font-size));
    --header-line: calc(var(--header-height) + 0.5rem);
    --mobile: 2;

}

* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  html,
  body {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;

    background-color: var(--yellow-medium-cream);
  }

/* body::-webkit-scrollbar { 
    color: green;
 } */

/* Header Start */
header {
    top: 0;
    position: fixed;
    width: 100%;
    height: var(--header-height);
    background-color: var(--yellow-medium-cream);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
}
#headerLine {
    position: fixed;
    /* top: 0; */
    background-color: var(--brown-light-medium);
    height: var(--header-line);
    width: 100vw;
    z-index: 99;
}
#bannercontainer {
    align-self: center;
}
#banner {
    position: relative;
    top: 3.5rem;
    left: 2rem;
    font-family: "Choco";
    font-size: calc(4rem + var(--big-font-size));
    /* font-size: 6rem; */
    color: var(--brown-light-medium);
    -webkit-text-stroke-color: var(--brown-light-medium);
    align-self: center;
  }
#connect_wallet {
    position: relative;
    align-self: center;
    right: 2rem;
}

/* Header End */

/* Body Start */

#imgTxtFlxContainer {
    position: relative;
    margin-top: calc(var(--header-line) + 2rem);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

#melt {
    max-width: var(--melth-max-width);
    /* max-height: calc(var(--melth-max-width) - 24px); */
    /* object-fit: contain; */
    /* min-height: var(--melth-max-width); */
    /* max-height: 800px; */
    flex-grow: 1;
    border-style: solid;
    border-color: #222222;
    
}

.rounded{
    border-radius: 3rem;
}

.rounded_small{
    border-radius: 1rem;
}

#globalWarming{
    max-width: var(--melth-max-width);
    min-width: var(--melth-max-width);
    flex-grow: 1;
    background-color: var(--brown-light-medium);
    padding: 3rem 2.5rem 6rem 2.5rem;
    /* padding-left: 2rem; */
}

#text1 {
    /* letter-spacing: 0.03em;
    line-height: 20px; */
    /* letter-spacing: calc(0.03em + 1vw + 1vh); */
    /* font-size: var(--small-font-size) !important; */
    /* font-size: var(--small-font-size); */
    color: var(--yellow-light-cream);
    font-size: 0.9rem;
}




#space{
    position: relative;
    height: 30%;
    width: 100vw;
    background-color: rgb(136, 71, 71);
}














#colored{
    background-color: orange;
}



/* 
.medium_gap {
    gap: 2rem 2rem;
}

.small_gap {
    gap: 0.7rem 0.7rem;
}
 */


.input_box{
    color: var(--brown-dark-hardest);
    height: 2.3rem;
    padding-left: 1rem;
}


.action-container {
    /* margin-left: auto;
    margin-right: auto */

    justify-content: center;
    align-content: center;
}





.statsContainer{
    background-color: var(--yellow-heavy-cream) !important;
}


.container_child {
    
    background-color: #622b10;
}



.section {
    position: relative;
    background-color: var(--brown-dark-hardest);

    margin-left: auto;
    margin-right: auto;

    height: fit-content;

    max-width: 60vw;
  

    justify-items: center;
    /* align-items: center; */
}

.container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.colflex {
    flex-direction: column !important;
}

.container_child {
    
    flex-grow: 1;
}

.statsContainer {
    position: relative;
    

    /* max-width: 50%; */
    padding: 1em;
    min-width: 10rem;
    min-height: 4rem;
    text-align: center;

    align-items: center;


    border: 2px solid var(--brown-dark-hardest);
}
.statsContainer > :nth-child(1) {

    margin-bottom: 0;
    height: 50%;
    width: 100%;
    
    font-size: 1.2rem;
 
}

.statsContainer > :nth-child(2) {
    height: 50%;
    top: 50%;
    width: 100%;
    font-size: 2rem;
   
}




.action-container {
    position: relative;
    flex-grow: 1;
    min-width: 50%;
    min-height: 50%;
}



.vault_label {
    font-size: 7rem;
}

















#docs {
  z-index: 100;
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
  /* min-width: n; */
}
  
#twitter {
    z-index: 100;
    position: fixed;
    bottom: 5.5rem;
     left: 1.5rem;
  }
  
  #discord {
    z-index: 100;
    position: fixed;
    bottom: 9.5rem;
     left: 1.5rem;
  }
  
  #charts {
    z-index: 100;
    position: fixed;
    bottom: 13.5rem;
    left: 1.5rem;
  }



  
  .button-29 {
    /* font-size: var(--medium-font-size); */
    font-size: 0.9rem;
    /* appearance: none; */
    background-color: var(--brown-light-medium);
  
    color: var(--yellow-light-cream);
  
    border: 2px solid var(--brown-light-medium);
    border-radius: 1.3rem;
    /* box-sizing: border-box; */
    /* color: #3B3B3B; */
    cursor: pointer;
    /* display: inline-block; */
    font-family: "WhiteRabbit";
    /* font-size: 16px; */
    font-weight: 80;
    /* font-size: 0.4em; */
    line-height: normal;
    margin: 0;
    min-height: 1rem;
    min-width: 8rem;
    outline: none;
    padding: 1.2rem 1.3rem;
    text-align: center;
    /* text-decoration: none; */
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
  }
  
  .button-29:disabled {
    pointer-events: none;
  }
  
  .button-29:hover {
    color: #fff;
    /* background-color: #7c3b0c; */
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    transform: scale(1.1);
  }
  
  .button-29:active {
    box-shadow: none;
      /* background-color: var(--dark-hard-brown); */
      /* border: 2px solid var(--dark-hard-brown); */
    transform: translateY(0) scale(0.8);
    
  }










  
.button-28 {
    /* font-size: var(--medium-font-size); */
    font-size: 1.3rem;
    /* appearance: none; */
    background-color: var(--brown-light-medium);
  
    color: var(--yellow-light-cream);
  
    border: 2px solid var(--brown-light-medium);
    border-radius: 1.3rem;
    /* box-sizing: border-box; */
    /* color: #3B3B3B; */
    cursor: pointer;
    /* display: inline-block; */
    font-family: "WhiteRabbit";
    /* font-size: 16px; */
    font-weight: 100;
    /* font-size: 0.4em; */
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 8rem;
    outline: none;
    padding: 1.2rem 1.3rem;
    text-align: center;
    /* text-decoration: none; */
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
  }
  
  .button-28:disabled {
    pointer-events: none;
  }
  
  .button-28:hover {
    color: #fff;
    /* background-color: #7c3b0c; */
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    transform: scale(1.1);
  }
  
  .button-28:active {
    box-shadow: none;
      /* background-color: var(--dark-hard-brown); */
      /* border: 2px solid var(--dark-hard-brown); */
    transform: translateY(0) scale(0.8);
    
  }